#root {
  max-width: 1280px;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.country-card {
  background-color: #333;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 1.5rem;
  margin: 1rem;
  flex: 1 1 calc(33.333% - 2rem);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  max-width: calc(33.333% - 2rem);
}

.country-card:hover {
  transform: translateY(-5px);
}

.country-card h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #61dafb;
}

.country-card p {
  margin: 0.5em 0;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.87);
}
