.home-container {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #e0f7fa;
    text-align: center;

    h1 {
        color: #00796b;
    }

    p {
        color: #004d40;
    }
}